<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>new recipe</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/reset.css" th:href="@{/css/reset.css}">
	<link rel="stylesheet" href="css/header-footer.css" th:href="@{/css/header-footer.css}">
	<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="css/new.css" th:href="@{/css/new.css}">
</head>

<body>
	<!-- header start : 로그인 X -->
	<header th:if="${member} == null">
		<ul class="row px-0 pt-4">
			<li class="col p-0 pe-1">
				<a href="/">
					<img src="img/logo2.png" alt="meatmeet 로고" class="logo">
				</a>
			</li>
			<li class="col p-0">
				<a href="/recipe" class="ms-5 title">레시피</a>
			</li>
			<li class="col p-0">
				<a href="#" class="title">나의 레시피</a>
			</li>
			<div class="col-5 m-0 p-0">
				<li class="me-5">
					<a href="/sign-in" class="title">
						<img src="img/icon_login.png" alt="로그인 아이콘" class="icon">
						로그인
					</a>
				</li>
				<li>
					<a href="/sign-up" class="title">회원가입</a>
				</li>
			</div>
		</ul>
	</header>
	<!-- header end : 로그인 X -->

	<!-- header start : 로그인 O -->
	<header th:if="${member} != null">
		<ul class="row px-0 pt-4">
			<li class="col p-0 pe-1">
				<a href="/">
					<img src="img/logo2.png" alt="meatmeet 로고" class="logo">
				</a>
			</li>
			<li class="col p-0">
				<a href="/recipe" class="ms-5 title">레시피</a>
			</li>
			<li class="col p-0">
				<a href="/myrecipe" th:href="@{/myrecipe/{memberId}(memberId=${member.memberId})}" class="title">나의 레시피</a>
			</li>
			<li class="col p-0">
				<a href="/order" th:href="@{/order/{memberId}(memberId=${member.memberId})}" class="title">
					<img src="img/order.png" alt="주문내역 아이콘" class="icon">
					주문내역
				</a>
			</li>
			<li class="col p-0">
				<a href="/cart" th:href="@{/cart/{memberId}(memberId=${member.memberId})}" class="title">
					<img src="img/cart.png" alt="장바구니 아이콘" class="icon">
					장바구니</a>
			</li>
			<li class="col p-0 row member">
				<span href="#" class="col member-name" th:text="${member.memberName}">사용자명</span>
				<button class="btn btn-primary col logout-btn" onclick="location.href='/sign-out'">로그아웃</button>
			</li>
		</ul>
	</header>
	<!-- header end : 로그인 O -->

	<script>
		function handleCategoryChange() {
			var category = document.getElementById("type").value;
			var parts = document.querySelectorAll("#part optgroup");

			parts.forEach(function (part) {
				part.style.display = "none";
			});

			var selectedParts = document.querySelector("#" + category + "-part");
			selectedParts.style.display = "block";
		}
	</script>

	<!-- container start -->
	<div class="container">
		<hr>
		<div class="category">
			<form action="#" th:action="@{/recipe/{memberId}/new(memberId=${memberId})}" method="post"
				enctype="multipart/form-data">
				<div class="cateory-select">
					<label for="category-select">카테고리</label>
					<select class="type" name="category1" id="type" onchange="handleCategoryChange()">
						<option value="" selected disabled>종류</option>
						<option value="pork">돼지</option>
						<option value="beef">소</option>
						<option value="chicken">닭</option>
						<option value="egg">계란</option>
						<option value="milk">우유</option>
					</select>
					<select class="part" name="category2" id="part">
						<option value="" selected disabled>부위</option>
						<optgroup id="pork-part" label="돼지" style="display: none;">
							<option value="neck">목심</option>
							<option value="rib">갈비</option>
							<option value="belly">삼겹살</option>
							<option value="forelegs">앞다리</option>
						</optgroup>

						<optgroup id="beef-part" label="소" style="display: none;">
							<option value="rib">갈비</option>
							<option value="brisket">양지</option>
							<option value="round">설도</option>
							<option value="sirloin">등심</option>
							<option value="tenderloin">안심</option>
						</optgroup>

						<optgroup id="chicken-part" label="닭" style="display: none;">
							<option value="none" selected>없음</option>
						</optgroup>

						<optgroup id="egg-part" label="계란" style="display: none;">
							<option value="none" selected>없음</option>
						</optgroup>

						<optgroup id="milk-part" label="우유" style="display: none;">
							<option value="none" selected>없음</option>
						</optgroup>
					</select>
				</div>
				<br>
				<div class="recipe">
					<label for="title">제목</label>
					<input type="text" name="title" id="title" placeholder="레시피 제목을 입력해주세요.">
				</div>
				<hr>
				<div class="ingredient">
					<label for="ingredient">재료</label>
					<p><textarea name="ingre" id="ingre" cols="50" rows="5"
							placeholder="필요한 재료와 무게/수량을 적어주세요. 예) 채끝 등심 400g, 미니 파프리카 3~4개"></textarea></p>
				</div>
				<div class="source">
					<label for="source">양념</label>
					<p><textarea name="sauce" id="sauce" cols="50" rows="7"
							placeholder="필요한 양념과 양을 적어주세요. 예) 소금 약간, 간장 1스푼"></textarea></p>
				</div>
				<hr>
				<div class="step">
					<label for="step">만드는 법</label>
					<p><textarea name="step" id="step" cols="50" rows="10"
							placeholder="요리 소개와 정보, 만드는 과정과 요리 팁을 자유롭게 적어주세요."></textarea></p>
				</div>
				<div class="file">
					<label for="file">파일 첨부</label>
					<p><input type="file" name="imgFile" placeholder="음식 사진을 첨부해주세요."></p>
				</div>
				<button class="cancel" type="reset">취소</button>
				<button class="submit" type="submit">등록하기</button>
			</form>
		</div>
	</div>
	<!-- container end -->

	<!-- footer start -->
	<footer>
		<div class="row">
			<div class="col mt-3">
				<ul>
					<li class="title">meat meet</li>
					<li>상호 : 미트미트 | 대표자명 : 홍길동 | <a href="#">개인정보처리방침</a></li>
					<li>사업자등록번호 : 000-00-00000</li>
					<li>연락처 : 00-000-0000</li>
					<li>이메일 : meatmeet@gmail.com</li>
					<li>주소 : 서울특별시 OO구 OO로O길</li>
				</ul>
			</div>
			<div class="col pt-5">
				<a href="#">
					<img src="/img/logo_white.png" alt="meatmeet로고" class="mt-3">
				</a>
			</div>
		</div>
	</footer>
	<!-- footer end -->
</body>

</html>