<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>레시피 목록</title>
  <link th:href="@{css/reset.css}" href="css/reset.css" rel="stylesheet">
  <link th:href="@{css/header-footer.css}" href="css/header-footer.css" rel="stylesheet">
  <link th:href="@{css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{css/recipe.css}" href="css/recipe.css" rel="stylesheet">


</head>

<body>
  <!-- header start -->
  <header>
    <ul class="row px-0 pt-4">
      <li class="col p-0 pe-1">
        <a href="#">
          <img src="img/logo2.png" alt="meatmeet 로고" class="logo">
        </a>
      </li>
      <li class="col p-0">
        <a href="/recipe" class="ms-5 title">레시피</a>
      </li>
      <li class="col p-0">
        <a href="#" class="title">나의 레시피</a>
      </li>
      <div class="col-5 m-0 p-0">
        <li class="me-5">
          <a href="#" class="title">
            <img src="img/icon_login.png" alt="로그인 아이콘" class="icon">
            로그인
          </a>
        </li>
        <li>
          <a href="#" class="title">회원가입</a>
        </li>
      </div>
    </ul>
  </header>
  <!-- header end -->

  <!-- container start -->
  <div class="container">
    <nav>
      <h1 class="title">레시피</h1>
      <ul class="menu">
        <li class="item" data-target="all">전체</li>
        <li class="item" data-target="pig">돼지</li>
        <li class="item" data-target="cow">소</li>
        <li class="item" data-target="chicken">닭</li>
        <li class="item" data-target="egg">계란</li>
        <li class="item" data-target="milk">우유</li>
      </ul>
      <div class="submenu hide" id="pig">
        <ul>
          <li data-target="pig-neck">목살</li>
          <li data-target="pig-rib">갈비</li>
          <li data-target="pig-belly">삼겹살</li>
          <li data-target="pig-legs">앞다리</li>
        </ul>
      </div>
      <div class="submenu hide" id="cow">
        <ul>
          <li data-target="cow-sirloin">등심</li>
          <li data-target="cow-relief">안심</li>
          <li data-target="cow-rib">갈비</li>
          <li data-target="cow-brisket">양지</li>
          <li data-target="cow-butt">설도</li>
        </ul>
      </div>
    </nav>

    <div class="content">
      <div class="recipes">
        <ul th:each="recipe : ${recipes}">
          <li id="list">
            <a th:href="@{/recipe/{recipeId}(recipeId=${recipe.recipeId})}" class="recipe-link">
              <img src="#" alt="" class="recipe-img">
              <div class="recipe-img-placeholder"></div>
              <div th:text=${recipe.memberId} class="recipe-writer">
                작성자
              </div>
              <div th:text=${recipe.title} class="recipe-title">
                레시피 제목
              </div>
              <div th:text=${recipe.view} class="recipe-view">조회수</div>
            </a>
          </li>
        </ul>
      </div>
      <div class="add-to-cart-section">
        <img src="#" alt="">
        <h1 class="item-title">
          목살 100g
        </h1>
        <div class="now-price">
          현재가격 <span class="price">1000원</span>
        </div>
        <div class="change">
          어제보다 <span class="change-price">200원 비싸요</span>
        </div>
        <button class="add-to-cart-btn" type="submit" th:href="@{/cart/{memebrId}/{itemId}}">
          장바구니 담기
        </button>
      </div>
      <button class="write-recipe" href="#">
        글쓰기
      </button>
    </div>
  </div>
  <!-- container end -->

  <!-- footer strat -->
  <footer>
    <div class="row">
      <div class="col mt-3">
        <ul>
          <li class="title">meat meet</li>
          <li>상호 : 미트미트 | 대표자명 : 홍길동 | <a href="#">개인정보처리방침</a></li>
          <li>사업자등록번호 : 000-00-00000</li>
          <li>연락처 : 00-000-0000</li>
          <li>이메일 : meatmeet@gmail.com</li>
          <li>주소 : 서울특별시 OO구 OO로O길</li>
        </ul>
      </div>
      <div class="col pt-5">
        <a href="#">
          <img src="img/logo_white.png" alt="meatmeet로고" class="mt-3">
        </a>
      </div>
    </div>
  </footer>
  <!-- footer end -->
  
  <script>
    var items = document.querySelectorAll(".item");
    var submenus = document.querySelectorAll(".submenu");
    var recipes = document.querySelectorAll(".recipes li");

    items.forEach(function (item) {
      item.addEventListener("click", function () {
        var target = this.getAttribute("data-target");

        recipes.forEach(function (recipe) {
          var recipeId = recipe.id;
          if (target === "all" || recipeId.indexOf(target) > -1) {
            recipe.classList.remove("hide");
          } else {
            recipe.classList.add("hide");
          }
        });

        submenus.forEach(function (submenu) {
          submenu.classList.add("hide");
        });

        var submenu = document.getElementById(target);
        if (submenu) {
          submenu.classList.remove("hide");
        }
      });
    });

    submenus.forEach(function (submenu) {
      var submenuItems = submenu.querySelectorAll("li");
      submenuItems.forEach(function (submenuItem) {
        submenuItem.addEventListener("click", function (event) {
          event.stopPropagation();

          var target = this.getAttribute("data-target");

          recipes.forEach(function (recipe) {
            var recipeId = recipe.id;
            if (target === "all" || recipeId.indexOf(target) > -1) {
              recipe.classList.remove("hide");
            } else {
              recipe.classList.add("hide");
            }
          });

          submenus.forEach(function (submenu) {
            submenu.classList.add("hide");
          });

          var parentMenu = this.closest(".submenu");
          if (parentMenu) {
            parentMenu.classList.remove("hide");
          }
        });
      });
    });
  </script>
</body>
</html>