<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레시피 목록</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/recipe.css">
</head>
<body>
    <div class="container">
        <nav>
            <h1>레시피</h1>
            <ul class="menu">
                <li class="item" data-target="all">전체</li>
                <li class="item" data-target="pig">돼지</li>
                <li class="item" data-target="cow">소</li>
                <li class="item" data-target="chicken">닭</li>
                <li class="item" data-target="egg">계란</li>
                <li class="item" data-target="milk">우유</li>
            </ul>
            <div class="submenu hide" id="pig">
                <ul>
                    <li data-target="pig-neck">목살</li>
                    <li data-target="pig-rib">갈비</li>
                    <li data-target="pig-belly">삼겹살</li>
                    <li data-target="pig-legs">앞다리</li>
                </ul>
            </div>
            <div class="submenu hide" id="cow">
                <ul>
                    <li data-target="cow-sirloin">등심</li>
                    <li data-target="cow-relief">안심</li>
                    <li data-target="cow-rib">갈비</li>
                    <li data-target="cow-brisket">양지</li>
                    <li data-target="cow-butt">설도</li>
                </ul>
            </div>
        </nav>

        <div class="content">
            <div id="chicken all">
                <ul>
                    <li><a href="#" class="recipe-link">닭 레시피 1</a></li>
                    <li><a href="#" class="recipe-link">닭 레시피 2</a></li>
                    <li><a href="#" class="recipe-link">닭 레시피 3</a></li>
                </ul>
            </div>
            <div id="milk all">
                <ul>
                    <li><a href="#" class="recipe-link">우유 레시피 1</a></li>
                    <li><a href="#" class="recipe-link">우유 레시피 2</a></li>
                    <li><a href="#" class="recipe-link">우유 레시피 3</a></li>
                </ul>
            </div>
            <div id="egg all">
                <ul>
                    <li><a href="#" class="recipe-link">달걀 레시피 1</a></li>
                    <li><a href="#" class="recipe-link">달걀 레시피 2</a></li>
                    <li><a href="#" class="recipe-link">달걀 레시피 3</a></li>
                </ul>
            </div>
            <div id="pig-neck all">
                <ul>
                    <li><a href="#" class="recipe-link">목살 레시피 </a></li>
                </ul>
            </div>
            <div id="pig-rib all">
                <ul>
                    <li><a href="#" class="recipe-link">갈비 레시피 </a></li>
                </ul>
            </div>
            <div id="pig-belly all">
                <ul>
                    <li><a href="#" class="recipe-link">삼겹살 레시피 </a></li>
                </ul>
            </div>
            <div id="pig-legs all">
                <ul>
                    <li><a href="#" class="recipe-link">앞다리살 레시피 </a></li>
                </ul>
            </div>
            <div id="cow-sirloin all">
                <ul>
                    <li><a href="#" class="recipe-link">등심 레시피 </a></li>
                </ul>
            </div>
            <div id="cow-relief all">
                <ul>
                    <li><a href="#" class="recipe-link">안심 레시피 </a></li>
                </ul>
            </div>
            <div id="cow-rib all">
                <ul>
                    <li><a href="#" class="recipe-link">갈비 레시피 </a></li>
                </ul>
            </div>
            <div id="cow-brisket all">
                <ul>
                    <li><a href="#" class="recipe-link">양지 레시피 </a></li>
                </ul>
            </div>
            <div id="cow-butt all">
                <ul>
                    <li><a href="#" class="recipe-link">설도 레시피 </a></li>
                </ul>
            </div>
            
                <button class="add-to-cart-btn">장바구니 담기</button>
            </div>
        </div>
    </div>
<script>
    var items = document.querySelectorAll(".item");
    var submenus = document.querySelectorAll(".submenu");
    var recipeSections = document.querySelectorAll('.content > div');

    items.forEach(function(item) {
        item.addEventListener("click", function() {
            var target = this.getAttribute("data-target");

            submenus.forEach(function(submenu) {
                if (submenu.id === target) {
                    submenu.classList.remove("hide");
                } else {
                    submenu.classList.add("hide");
                }
            });

            recipeSections.forEach(function(section) {
                section.classList.add('hide');

                if (target !== 'pig' && target !== 'cow' && section.id.includes(target)) {
                    section.classList.remove('hide');
                }
            });
        });
    });

    var submenuItems = document.querySelectorAll(".submenu li");
    submenuItems.forEach(function(submenuItem) {
        submenuItem.addEventListener("click", function() {
            var target = this.getAttribute("data-target");

            recipeSections.forEach(function(section) {
                section.classList.add('hide');

                if (section.id === target) {
                    section.classList.remove('hide');
                }
            });
        });
    });
</script>

    
    
    
    
    
    
    
</body>

</html>