<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/header-footer.css" th:href="@{/css/header-footer.css}">
	<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="css/cart.css" th:href="@{/css/cart.css}">
	<title>cart.html</title>
</head>

<body>
	<!-- header start -->
	<header>
		<ul class="row px-0 pt-4">
			<li class="col p-0 pe-1">
				<a href="index.html">
					<img src="img/logo.png" alt="meatmeet 로고" class="logo">
				</a>
			</li>
			<li class="col p-0">
				<a href="recipe.html" class="ms-5 title">레시피</a>
			</li>
			<li class="col p-0">
				<a href="myrecipe.html" class="title">나의 레시피</a>
			</li>
			<div class="col-5 m-0 p-0">
				<li class="me-5">
					<a href="#" class="title">
						<img src="img/order.png" alt="주문내역 아이콘" class="icon">
						주문내역
					</a>
				</li>
				<li>
					<a href="cart.html" class="title">
						<img src="img/cart.png" alt="장바구니 아이콘" class="icon">
						장바구니</a>
				</li>
				<li>
					<a href="" class="title">홍길동님</a>
					<button class="circle-button" onclick="">로그아웃</button>
				</li>
			</div>
		</ul>
	</header>
	<!-- header end -->
	<hr>
	<h1>장바구니</h1>
	<!-- container start -->
	<div class="container">
		<div>
			<a href="#" class="title">
				<img src="img/cart.png" alt="장바구니 아이콘" class="small-icon">
			</a>
		</div>
		<br>
		<div>
			담긴 상품이 없습니다
		</div>
		<br>
		<div>
			<button class="home-button" onclick="">홈으로 가기</button>
		</div>
	</div>
	<!-- container end -->
	<!-- footer start -->
	<footer>
		<div class="row">
			<div class="col mt-3">
				<ul>
					<li class="title">meat meet</li>
					<li>상호 : 미트미트 | 대표자명 : 홍길동 | <a href="#">개인정보처리방침</a></li>
					<li>사업자등록번호 : 000-00-00000</li>
					<li>연락처 : 00-000-0000</li>
					<li>이메일 : meatmeet@gmail.com</li>
					<li>주소 : 서울특별시 OO구 OO로O길</li>
				</ul>
			</div>
			<div class="col pt-5">
				<a href="#">
					<img src="img/logo_white.png" alt="meatmeet로고" class="mt-3">
				</a>
			</div>
		</div>
	</footer>
	<!-- footer end -->
</body>

</html>