@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
  font-family: 'GeekbleMalang2WOFF2';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-size: 18px;
}

form {
  margin: auto;
}

form #date {
  font-size: large;
}

table {
  margin: auto;
  margin-bottom: 20px;
}

.form-box {
  text-align: left;
}


.container .order-date {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}

.container .cancle-btn {
  width: 200px;
  height: 40px;
}

.container .box-wrap {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
}