@charset "UTF-8";

.container {
    /* position: relative; */
    max-width: 1125px;
    /* height: 100%; */
    min-height: 100vh;
    /* text-align: center; */
    margin: 0 auto;
}

nav {
    position: relative;
    background-color: #ff6666;
    padding-top: 20px;
    padding-bottom: 1px;
    width: 100%;
}

nav h1 {
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 30px;
}

nav .menu {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 25px;
    padding-left: 0;
}

nav .menu .item {
    width: 100px;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    margin-right: 30px;
    border: solid transparent;
    border-width: 10px 30px;
    border-radius: 30px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav .menu .item:hover {
    background-color: #ffb3b3;
}


nav .submenu {
    background-color: #ffffff;
}

nav .submenu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
    padding-left: 0;
}

nav .submenu ul li {
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
    width: 100px;
    text-align: center;
}

nav .submenu ul li:hover {
    color: #ff6666;
}

.content {
	clear: left;
    justify-content: space-between;
    /* position: relative; */
}

.content .recipes {
    margin: 0 auto;
}

.content.recipes ul {
    display: inline-block;
}

.content li {
    position: relative;
    width: 256px;
    display: inline-block;
    background-color: #ffb3b3;
    margin-right: 15px;
    margin-top: 15px;
}

.content li .info-box {
    padding: 5px;
}

.content li a {
    color: #000000;
    text-decoration: none;
}

.recipe-img-placeholder {
    width: 100%;
    /* 이미지의 가로 크기 */
    height: 55%;
    /* 이미지의 세로 크기 */
    background-color: #ffffff;
    position: relative;
    top: 0;
}

.recipe-img-placeholder img {
    width: 256px;
    height: 144px;
    object-fit: cover;
}

.recipe-view {
    text-align: left;
    padding: 5px;
    font-size: 12px
}

.recipe-writer {
    text-align: left;
    padding: 5px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.recipe-title {
    text-align: left;
    padding: 5px;
    font-weight: 500;
}

.add-to-cart-section {
    width: 230px;
    height: 350px;
    position: fixed;
    top: 350px;
    right: 100px;
    border: 1px solid #ffb3b3;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    background-color: #fff;
}

.add-to-cart-section img {
    width: 100%;
    height: 130px;
}

.add-to-cart-section .item-name {
    font-size: 25px;
    font-weight: 500;
    margin-top: 8px;
}

.add-to-cart-section.now-price {
    font-size: 14px;
}

.now-price span.price {
    font-size: 18px;
    font-weight: bold;
    color: #ff6666;
}

.add-to-cart-section.change {
    font-size: 14px;
    padding: 20px 0;
}

.change span.change-price {
    font-size: 18px;
    font-weight: bold;
    color: #ff6666;
}

.add-to-cart-btn {
    width: 90%;
    position: absolute;
    bottom: 10px;
    left: 5%;
    padding: 10px 20px;
    background-color: #ff6666;
    /* 평소 색상 설정 */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #ff3333;
}

.write-recipe {
    position: fixed;
    bottom: 120px;
    right: 100px;
}

.btn-primary {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: #ff3333;
    border-color: #ffb3b3;
}

.btn-primary:hover {
    background-color: #ff6666;
    border-color: #ffb3b3;
}

.hide {
    display: none !important;
}

footer {
	clear: both;
}