<!DOCTYPE html>
<html lang="ko">
<head>
    <title>header member</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/header-footer.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<header th:if="${member} != null">
		<ul class="row px-0 pt-4">
			<li class="col p-0 pe-1">
				<a href="/">
					<img src="img/logo2.png" alt="meatmeet 로고" class="logo">
				</a>
			</li>
			<li class="col p-0">
				<a href="/recipe" class="ms-5 title">레시피</a>
			</li>
			<li class="col p-0">
				<a href="/myrecipe" th:href="@{/myrecipe/{memberId}(memberId=${member.memberId})}" class="title">나의 레시피</a>
			</li>
			<li class="col p-0">
				<a href="/order" th:href="@{/order/{memberId}(memberId=${member.memberId})}" class="title">
					<img src="img/order.png" alt="주문내역 아이콘" class="icon">
					주문내역
				</a>
			</li>
			<li class="col p-0">
				<a href="#" class="title">
					<img src="img/cart.png" alt="장바구니 아이콘" class="icon">
					장바구니</a>
			</li>
			<li class="col p-0 row member">
				<span href="#" class="col member-name" th:text="${member.memberName}">사용자명</span>
				<button class="btn btn-primary col" onclick="location.href='/sign-out'">로그아웃</button>
			</li>
		</ul>
	</header>
</body>
</html>