@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
  font-family: 'GeekbleMalang2WOFF2';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

form {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: inline-block;
  text-align: left;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -100px;
  margin-right: 50px;
  /* max-height: 500px; */
}

form hr {
  width: 100%;
}

h3 {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

form label {
  margin-bottom: 10px;
  display: block;
}

form #name,
#phone,
#address,
#request {
  border: 1px solid #ccc;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
  margin-left: 10px;
}

.center {
  /* height: calc(100vh - 220px); */
  overflow-y: auto;
  overflow-x: auto;
  padding: 20px 20px;
}